name: libdof
on:
  push:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  version:
    name: Detect version
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.version.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: version
        run: |
          VERSION_MAJOR=$(grep -Eo "LIBDOF_VERSION_MAJOR\s+[0-9]+" include/DOF/DOF.h | grep -Eo "[0-9]+")
          VERSION_MINOR=$(grep -Eo "LIBDOF_VERSION_MINOR\s+[0-9]+" include/DOF/DOF.h | grep -Eo "[0-9]+")
          VERSION_PATCH=$(grep -Eo "LIBDOF_VERSION_PATCH\s+[0-9]+" include/DOF/DOF.h | grep -Eo "[0-9]+")
          TAG="${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_PATCH}"
          echo "${TAG}"
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

  build:
    name: Build libdof-${{ matrix.platform }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    needs: [ version ]
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            platform: win
            arch: x64
          - os: windows-latest
            platform: win
            arch: x86
          - os: macos-latest
            platform: macos
            arch: arm64
          - os: macos-latest
            platform: macos
            arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: aarch64
          - os: ubuntu-latest
            platform: android
            arch: arm64-v8a
          - os: macos-latest
            platform: ios
            arch: arm64
          - os: macos-latest
            platform: tvos
            arch: arm64
    steps:
      - uses: actions/checkout@v4
      - if: (matrix.os == 'windows-latest')
        name: Add msbuild to path (win runner)
        uses: microsoft/setup-msbuild@v2
      - if: (matrix.os == 'macos-latest')
        name: Add autoconf and automake (mac runner)
        run: |
           brew install autoconf automake 
      - if: (matrix.os == 'ubuntu-latest' && matrix.arch != 'aarch64')
        name: Add libudev (linux runner)
        run: |
           sudo apt-get install libudev-dev
      - if: (!(matrix.platform == 'linux' && matrix.arch == 'aarch64'))
        name: Build libdof-${{ matrix.platform }}-${{ matrix.arch }}
        run: |
          ./platforms/${{ matrix.platform }}/${{ matrix.arch }}/external.sh
          if [[ "${{ matrix.platform }}" == "win" ]]; then
             if [[ "${{ matrix.arch }}" == "x64" ]]; then
                cmake -G "Visual Studio 17 2022" -DPLATFORM=${{ matrix.platform }} -DARCH=${{ matrix.arch }} -B build
             else
                cmake -G "Visual Studio 17 2022" -A Win32 -DPLATFORM=${{ matrix.platform }} -DARCH=${{ matrix.arch }} -B build
             fi
             cmake --build build --config Release
          else
             if [[ "$(uname)" == "Darwin" ]]; then
                NUM_PROCS=$(sysctl -n hw.ncpu)
             else
                NUM_PROCS=$(nproc)
             fi
             cmake -DCMAKE_BUILD_TYPE=Release -DPLATFORM=${{ matrix.platform }} -DARCH=${{ matrix.arch }} -B build
             cmake --build build -- -j${NUM_PROCS}
          fi
      - if: (matrix.platform == 'linux' && matrix.arch == 'aarch64')
        name: Build libdof-${{ matrix.platform }}-${{ matrix.arch }} (arm runner)
        uses: pguyot/arm-runner-action@v2
        with:
          base_image: raspios_lite_arm64:latest
          image_additional_mb: 4096
          cpu: cortex-a53
          cpu_info: cpuinfo/raspberrypi_zero2_w_arm64
          bind_mount_repository: true
          commands: |
            apt-get update -y --allow-releaseinfo-change
            apt-get install --no-install-recommends -y pkg-config cmake autoconf automake libtool libudev-dev
            ./platforms/${{ matrix.platform }}/${{ matrix.arch }}/external.sh
            NUM_PROCS=$(nproc)
            cmake -DCMAKE_BUILD_TYPE=Release -DPLATFORM=${{ matrix.platform }} -DARCH=${{ matrix.arch }} -B build
            cmake --build build -- -j${NUM_PROCS}
            build/dof_test
      - if: (!(matrix.arch == 'arm64' || matrix.arch == 'arm64-v8a' || matrix.arch == 'aarch64' || matrix.platform == 'win'))
        name: dof_test
        run: build/dof_test
      - name: Prepare artifacts
        id: artifacts
        run: |
          mkdir tmp
          if [[ "${{ matrix.platform }}" == "win" ]]; then
             ARTIFACT_PATH="tmp"
             if [[ "${{ matrix.arch }}" == "x64" ]]; then
                cp build/Release/*64.lib tmp
                cp build/Release/*64.dll tmp
             else
                cp build/Release/*.lib tmp
                cp build/Release/*.dll tmp
             fi
             cp build/Release/dofserver.exe tmp
             cp build/Release/dofserver_test.exe tmp
             cp build/Release/dof_static.lib tmp
             cp build/Release/dof_test_s.exe tmp
             cp build/Release/dof_test.exe tmp
          else
            ARTIFACT_PATH="libdof-${{ needs.version.outputs.tag }}-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz"
            if [[ "${{ matrix.platform }}" == "macos" ]]; then
               cp build/libdof.a tmp
               cp -a build/*.dylib tmp
               cp build/dofserver tmp
               cp build/dofserver_test tmp
               cp build/dof_test_s tmp
               cp build/dof_test tmp
            elif [[ "${{ matrix.platform }}" == "linux" ]]; then
               cp build/libdof.a tmp
               cp -a build/*.{so,so.*} tmp
               cp build/dofserver tmp
               cp build/dofserver_test tmp
               cp build/dof_test_s tmp
               cp build/dof_test tmp
            elif [[ "${{ matrix.platform }}" == "ios" || "${{ matrix.platform }}" == "tvos" ]]; then
               cp build/libdof.a tmp
               cp -a build/*.dylib tmp
            elif [[ "${{ matrix.platform }}" == "android" ]]; then
               cp build/libdof.a tmp
               cp build/libdof.so tmp
            fi
            cd tmp
            tar -czvf ../${ARTIFACT_PATH} *
          fi
          echo "artifact_path=${ARTIFACT_PATH}" >> $GITHUB_OUTPUT    
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libdof-${{ needs.version.outputs.tag }}-${{ matrix.platform }}-${{ matrix.arch }}
          path: ${{ steps.artifacts.outputs.artifact_path }}

  post-build:
    runs-on: macos-latest
    needs: [ version, build ]
    name: Build libdof-macos
    steps:
      - uses: actions/download-artifact@v4
      - name: Unpack artifacts
        run: |
          cd libdof-${{ needs.version.outputs.tag }}-macos-x64
          tar -xzvf libdof-${{ needs.version.outputs.tag }}-macos-x64.tar.gz
          cd ..
          cd libdof-${{ needs.version.outputs.tag }}-macos-arm64
          tar -xzvf libdof-${{ needs.version.outputs.tag }}-macos-arm64.tar.gz
      - name: Combine macos architectures
        run: |
          mkdir tmp
          find "libdof-${{ needs.version.outputs.tag }}-macos-arm64" -name "*.dylib" | while read -r file; do
            if [ ! -L "$file" ]; then
              filename=$(basename "$file")
              lipo -create -output "tmp/$filename" \
                "libdof-${{ needs.version.outputs.tag }}-macos-arm64/$filename" \
                "libdof-${{ needs.version.outputs.tag }}-macos-x64/$filename"
            fi
          done
          for filename in dofserver dofserver_test dof_test_s dof_test; do
            lipo -create -output "tmp/$filename" \
               "libdof-${{ needs.version.outputs.tag }}-macos-arm64/$filename" \
               "libdof-${{ needs.version.outputs.tag }}-macos-x64/$filename"
          done
      - name: Prepare artifacts
        run: |
          cd tmp
          tar -czvf ../libdof-${{ needs.version.outputs.tag }}-macos.tar.gz *
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libdof-${{ needs.version.outputs.tag }}-macos
          path: libdof-${{ needs.version.outputs.tag }}-macos.tar.gz
      - name: Package
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          zip -r libdof-${{ needs.version.outputs.tag }}-win-x64.zip libdof-${{ needs.version.outputs.tag }}-win-x64
          zip -r libdof-${{ needs.version.outputs.tag }}-win-x86.zip libdof-${{ needs.version.outputs.tag }}-win-x86
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          files: |
            libdof-${{ needs.version.outputs.tag }}-win-x64.zip
            libdof-${{ needs.version.outputs.tag }}-win-x86.zip
            libdof-${{ needs.version.outputs.tag }}-macos-arm64/libdof-${{ needs.version.outputs.tag }}-macos-arm64.tar.gz
            libdof-${{ needs.version.outputs.tag }}-macos-x64/libdof-${{ needs.version.outputs.tag }}-macos-x64.tar.gz
            libdof-${{ needs.version.outputs.tag }}-macos.tar.gz
            libdof-${{ needs.version.outputs.tag }}-linux-x64/libdof-${{ needs.version.outputs.tag }}-linux-x64.tar.gz
            libdof-${{ needs.version.outputs.tag }}-linux-aarch64/libdof-${{ needs.version.outputs.tag }}-linux-aarch64.tar.gz
            libdof-${{ needs.version.outputs.tag }}-ios-arm64/libdof-${{ needs.version.outputs.tag }}-ios-arm64.tar.gz
            libdof-${{ needs.version.outputs.tag }}-tvos-arm64/libdof-${{ needs.version.outputs.tag }}-tvos-arm64.tar.gz
            libdof-${{ needs.version.outputs.tag }}-android-arm64-v8a/libdof-${{ needs.version.outputs.tag }}-android-arm64-v8a.tar.gz
